@page
@model RazorPagesDemo.Pages.ContactMeModel
@{
}
@{
    ViewData["Title"] = "Contact Me";
}

<h1 style="background-color:maroon; color: white;">Contact Me</h1>

@if (Model.InfoMessage is not null)
{
    <div class="alert alert-info">
        @Html.Raw(Model.InfoMessage)
    </div>
}
@if (Model.ErrorMessage is not null)
{
    <div class="alert alert-danger">
        @Html.Raw(Model.ErrorMessage)
    </div>
}

<form method="post">
    <div class="row mb-3">
        <label asp-for="Name" class="col-sm-2 col-form-label">Your Name:</label>
        <div class="col-sm-10">
            <input asp-for="Name" class="form-control" />
        </div>
    </div>
    <div class="row mb-3">
        <label asp-for="Email" class="col-sm-2 col-form-label">Your Email:</label>
        <div class="col-sm-10">
            <input asp-for="Email" class="form-control" />
        </div>
    </div>
    <div class="row mb-3">
        <label asp-for="Comments" class="col-sm-2 col-form-label">Comments:</label>
        <div class="col-sm-10">
            <textarea asp-for="Comments" class="form-control"></textarea>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-10 offset-sm-2">
            <input type="checkbox" asp-for="SubScribe" class="form-check-input" />
            <label asp-for="SubScribe" class="form-label"> SubScribe to Promotions</label>
        </div>
    </div>
    <button type="submit" asp-page-handler="SendMessage" class="btn btn-outline-success">Send Message</button>
    <button type="submit" asp-page-handler="Clear" class="btn btn-outline-secondary">Clear</button>
    <button type="submit" asp-page-handler="Reset" class="btn btn-outline-secondary">Reset</button>
</form>