@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <h2 style="color:darksalmon">Hello World frin ASP.NET Razor Pages</h2>

    <p>The current date time is @Model.CurrentDateTime.ToString()</p>

    <div style="background-color:lightsalmon">
        <h3>@Model.LuckyNumber</h3>
    </div>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
